In [1]:
# train, valid, test

# 기존 데이터셋 하나씩 가져오기

import os
import pandas as pd

# 경로
pre_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/pre_poem_datasets"

integrated_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/integrated_pre_poem_datasets"

#lines = []

integrated_data_file_path = os.path.join(integrated_data_path, "integrated_data.tsv")
w = open(integrated_data_file_path, 'w')

for idx, file_name in enumerate(os.listdir(pre_data_path)):
    file_path = os.path.join(pre_data_path, file_name)

    with open(file_path) as f:
        line = f.readline()

        line = line + '\n'

        w.write(line)

w.close()

In [2]:
# integrated_data를 가져와서 train_data / valid_data / test_data로 나누기

import pandas as pd

df = pd.read_csv(os.path.join(integrated_data_path, "integrated_data.tsv"), sep='\t', encoding='utf-8')

df = df.sample(frac=1).reset_index(drop=True) 

df.head()

,교장선생님께,더 이상은 못 버티겠습니다 사표 쓰겠습니다 이제껏 꿈 속에서 헤매이며 가졌던 꿈들을 소실한 채 더 이상은 못 버티겠습니다 여기서 나가겠습니다 사회가 짜 놓은 거미줄에 두 다리를 잃고 방황한 채 더 이상 못 버티겠습니다 어서 탈출하겠습니다 공부가 나에게 주는 의미가 뭔지 알지도 못하고 배우지도 못한 채 더 이상 못 버티겠습니다 어서 일탈하겠습니다
0,육신,"설겆이을 마친 어머니의 손이 물러터졌다. 어머니, 손에 무슨 변고라도 났답니..."
1,눈꺼풀,눈꺼풀동녘 하늘에서 밝아오는 푸른빛이 이불을 뒤집어쓴 채 고적하게 웅크린 몸을 ...
2,사랑니,봉긋 솟은 붉은 가슴 속에서흰 우윳빛 젖내음에 젖은 날갯짓발버둥을 치잖아 글쎄...
3,로보트,로보트 로보트의 외출녹슨 베어링 관절 어뜩어뜩 걸어오는 슬픔(로봇들은 진화하고 ...
4,맹수에게 배울 것,창공을 나는 독수리는 하강을 걱정하지 않는다. 이빨에 강력한 독을 가진 코브라...

In [3]:
df.columns = ['title', 'content']

In [4]:
df.head()

       title                                            content
0         육신      설겆이을 마친 어머니의 손이 물러터졌다. 어머니, 손에 무슨 변고라도 났답니...
1        눈꺼풀    눈꺼풀동녘 하늘에서 밝아오는 푸른빛이 이불을 뒤집어쓴 채 고적하게 웅크린 몸을 ...
2        사랑니     봉긋 솟은 붉은 가슴 속에서흰 우윳빛 젖내음에 젖은 날갯짓발버둥을 치잖아 글쎄...
3        로보트    로보트 로보트의 외출녹슨 베어링 관절 어뜩어뜩 걸어오는 슬픔(로봇들은 진화하고 ...
4  맹수에게 배울 것    창공을 나는 독수리는 하강을 걱정하지 않는다.  이빨에 강력한 독을 가진 코브라...

In [5]:
df['title'] = df["title"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
df['content'] = df["content"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)

In [6]:
df.head(5)

       title                                            content
0         육신      설겆이을 마친 어머니의 손이 물러터졌다  어머니  손에 무슨 변고라도 났답니...
1        눈꺼풀    눈꺼풀동녘 하늘에서 밝아오는 푸른빛이 이불을 뒤집어쓴 채 고적하게 웅크린 몸을 ...
2        사랑니     봉긋 솟은 붉은 가슴 속에서흰 우윳빛 젖내음에 젖은 날갯짓발버둥을 치잖아 글쎄...
3        로보트    로보트 로보트의 외출녹슨 베어링 관절 어뜩어뜩 걸어오는 슬픔 로봇들은 진화하고 ...
4  맹수에게 배울 것    창공을 나는 독수리는 하강을 걱정하지 않는다   이빨에 강력한 독을 가진 코브라...

In [7]:
train_ratio = .7
valid_ratio = .1
test_ratio = .2

train_data_num = int(df.shape[0] * train_ratio)
valid_ratio_num = int(df.shape[0] * valid_ratio)
test_ratio_num = int(df.shape[0] * test_ratio)

In [8]:
train_df = df.iloc[:train_data_num, :]
valid_df = df.iloc[train_data_num:train_data_num+valid_ratio_num, :]
test_df = df.iloc[train_data_num+valid_ratio_num:, :]

In [9]:
train_df.head(1)

  title                                            content
0    육신      설겆이을 마친 어머니의 손이 물러터졌다  어머니  손에 무슨 변고라도 났답니...

In [10]:
train_df.shape

(15817, 2)

In [11]:
valid_df.shape

(2259, 2)

In [12]:
test_df.shape

(4520, 2)

In [13]:
train_df = train_df.dropna()
valid_df = valid_df.dropna()
test_df = test_df.dropna()

In [14]:
train_df.to_csv(
    os.path.join(integrated_data_path, "train_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )

In [15]:
valid_df.to_csv(
    os.path.join(integrated_data_path, "valid_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )

In [16]:
test_df.to_csv(
    os.path.join(integrated_data_path, "test_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )