In [1]:
# train, valid, test

# 기존 데이터셋 하나씩 가져오기

import os
import pandas as pd

# 경로
pre_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/pre_datasets"

integrated_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/integrated_pre_datasets"

#lines = []

integrated_data_file_path = os.path.join(integrated_data_path, "integrated_data.tsv")
w = open(integrated_data_file_path, 'w')

for idx, file_name in enumerate(os.listdir(pre_data_path)):
    file_path = os.path.join(pre_data_path, file_name)

    with open(file_path) as f:
        line = f.readline()

        line = line + '\n'

        w.write(line)

w.close()

In [2]:
# integrated_data를 가져와서 train_data / valid_data / test_data로 나누기

import pandas as pd

integrated_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/integrated_pre_datasets"

df = pd.read_csv(os.path.join(integrated_data_path, "integrated_data.tsv"), sep='\t', encoding='utf-8')

df = df.sample(frac=1).reset_index(drop=True) 

df.head()

,나의 위인전,문무왕은 태종 무열왕의 아들로 진덕여왕 시절에 당나라 사신으로 파견된적이 있으며 전쟁에도 참여한적이 있다. #@문장구분#이후 661년에 아버지 무열왕이 승하 직후 왕위에올랐으며 아버지가 잘 닦아놓은 기반을 활용하여 고구려와 백제 정벌에 집중했다#@문장구분#. 이후 662년에는 백제를 멸망시키고 이후 고구려를 상대하려고 하는데 고구려의 저항이 거세어서 오히려 피해를 입기호 했다 이후 당나라와 연합하여 평양성을 함락시켰다. #@문장구분#이때 고구려를 멸망시킬 때 거의 힘을쓰지 않았는데 당나라와의 연합은 고구려 멸망 이후에 깨질 것을 미리 알았기 때문에 힘을 아낀것이라고 보고 있다.#@문장구분# 이후 당나라와 영토분쟁이후 전쟁이 벌어지게되고 미리 대비를 하고있던 문무왕은 기존 고구려계 주민까지 받아들여 당나라와의 전쟁준비를 마치게된다.#@문장구분# 고구려 부흥군까지 얻은 문무왕은요동을 선제공격하면서 전면전을 벌이고 확실한 마무리가 되지 않고 기벌포 해전을 끝으로 서로 철군하게된다.#@문장구분# 이후 삼국통일을 이루고 내정에 힘쓰게된다.#@문장구분# 전쟁이후 혼란한 내부상황을 적극적인 자세로 감찰관까지 파견하여 자세히 알아보고 민심을 수습하게된다.#@문장구분# 이렇게 백성들까지 잘 돌보던 와중에 통일 5년뒤인 681년에 승하하게된다.#@문장구분# 문무왕은 당시 초 강대국이였던 당나라를 화전양면전술로 성공적인 결과를 얻어냈다는데에 좋은 평가를 받고 있다.#@문장구분# 나도 문무왕처럼 불리한 상황에서도 좋은 결과를 얻어내는 사람이 되고싶다#@문장구분#
0,소중함을 잃었던 경험,친구와 간만에 보훈병원역 근처를 걸었다.#@문장구분# 늘 그렇듯 목적지가 없었다.#...
1,독후감 - 북극에서 남극까지,"캐나다,핀란드,그린란드,노르웨이,스웨덴의 일부,미국의 알래스카가 북극에 속합니다...."
2,돌아오지 않는 세가지 세상에는 다시는,NaN
3,나에게 봄은,나는나는 봄이되면 친구들 손 잡고 놀러가고 싶어요.봄바람 맞으며 친구들 손잡고 가...
4,● 살아갈수록 힘들어지는 것 ●사탕 하나라도 나눠 먹던 친구가 이제 시집을 간다는데...,NaN

In [3]:
df.columns = ['title', 'content']

In [4]:
df.head()

,title,content
0,소중함을 잃었던 경험,친구와 간만에 보훈병원역 근처를 걸었다.#@문장구분# 늘 그렇듯 목적지가 없었다.#...
1,독후감 - 북극에서 남극까지,"캐나다,핀란드,그린란드,노르웨이,스웨덴의 일부,미국의 알래스카가 북극에 속합니다...."
2,돌아오지 않는 세가지 세상에는 다시는,NaN
3,나에게 봄은,나는나는 봄이되면 친구들 손 잡고 놀러가고 싶어요.봄바람 맞으며 친구들 손잡고 가...
4,● 살아갈수록 힘들어지는 것 ●사탕 하나라도 나눠 먹던 친구가 이제 시집을 간다는데...,NaN

In [5]:
df['title'] = df["title"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
df['content'] = df["content"].str.replace(pat=r'[^\w]', repl=r' ', regex=True)

In [6]:
df.head(5)

,title,content
0,소중함을 잃었던 경험,친구와 간만에 보훈병원역 근처를 걸었다 문장구분 늘 그렇듯 목적지가 없었다 ...
1,독후감 북극에서 남극까지,캐나다 핀란드 그린란드 노르웨이 스웨덴의 일부 미국의 알래스카가 북극에 속합니다 ...
2,돌아오지 않는 세가지 세상에는 다시는,NaN
3,나에게 봄은,나는나는 봄이되면 친구들 손 잡고 놀러가고 싶어요 봄바람 맞으며 친구들 손잡고 가...
4,살아갈수록 힘들어지는 것 사탕 하나라도 나눠 먹던 친구가 이제 시집을 간다는데...,NaN

In [7]:
train_ratio = .7
valid_ratio = .1
test_ratio = .2

train_data_num = int(df.shape[0] * train_ratio)
valid_ratio_num = int(df.shape[0] * valid_ratio)
test_ratio_num = int(df.shape[0] * test_ratio)

In [8]:
train_df = df.iloc[:train_data_num, :]
valid_df = df.iloc[train_data_num:train_data_num+valid_ratio_num, :]
test_df = df.iloc[train_data_num+valid_ratio_num:, :]

In [9]:
train_df.head(1)

         title                                            content
0  소중함을 잃었던 경험  친구와 간만에 보훈병원역 근처를 걸었다   문장구분  늘 그렇듯 목적지가 없었다  ...

In [10]:
train_df.shape

(16669, 2)

In [11]:
valid_df.shape

(2381, 2)

In [12]:
test_df.shape

(4764, 2)

In [13]:
train_df = train_df.dropna()
valid_df = valid_df.dropna()
test_df = test_df.dropna()

In [14]:
integrated_data_path = "/workspace/home/uglee/Projects/title_extraction/datasets/integrated_pre_datasets"

train_df.to_csv(
    os.path.join(integrated_data_path, "train_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )

In [15]:
valid_df.to_csv(
    os.path.join(integrated_data_path, "valid_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )

In [16]:
test_df.to_csv(
    os.path.join(integrated_data_path, "test_data.tsv"), 
    sep= '\t',
    header=False,
    index=False,
    encoding='utf-8'
    )